<div class="container mt-4">
  <div class="card mx-auto shadow-lg border-none" >
    <div class="card-body">
      <h2 class="card-title h4 fw-bold mb-4">Upload New Course</h2>

      <form [formGroup]="courseForm" (ngSubmit)="submit()">

        <div class="row mb-4">
          <label class="col-sm-3 col-form-label form-label">Course Title</label>
          <div class="col-sm-9">
            <input type="text" formControlName="title" class="form-control" placeholder="Enter course title" />
          </div>
        </div>

        <div class="row mb-4">
          <label class="col-sm-3 col-form-label form-label">Course Code</label>
          <div class="col-sm-9">
            <input type="text" formControlName="code" class="form-control" placeholder="Enter course code" />
          </div>
        </div>

        <div class="row mb-4">
          <label class="col-sm-3 col-form-label form-label">Credit Unit</label>
          <div class="col-sm-9">
            <input type="number" formControlName="creditUnit" class="form-control" placeholder="e.g. 3" />
          </div>
        </div>

        <div class="row mb-4">
          <label class="col-sm-3 col-form-label form-label">Semester</label>
          <div class="col-sm-9">
            <select formControlName="semester" class="form-select">
              <option value="First">First</option>
              <option value="Second">Second</option>
            </select>
          </div>
        </div>

        <div class="row mb-4">
          <label class="col-sm-3 col-form-label form-label">Level</label>
          <div class="col-sm-9">
            <select formControlName="level" class="form-select">
              <option>100L</option>
              <option>200L</option>
              <option>300L</option>
              <option>400L</option>
            </select>
          </div>
        </div>

        <div class="row mb-4">
          <label class="col-sm-3 col-form-label form-label">Lecturer <span class="text-muted">(Optional)</span></label>
          <div class="col-sm-9">
            <input type="text" formControlName="lecturer" class="form-control" placeholder="Lecturer's name" />
          </div>
        </div>

        <div class="row mb-3">
          <div class="offset-sm-3 col-sm-9">
            <button type="submit" [disabled]="loading" class="btn btn-primary">
              {{ loading ? 'Uploading...' : 'Submit' }}
            </button>

            @if (successMessage) {
              <p class="text-success mt-3 mb-0">{{ successMessage }}</p>
            }
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
